body {
    background: #EFEFEF;
}

main {
    width: 80rem;
    margin: auto;
}

.item-modal-popoup {
    position: fixed;
    inset: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.item-modal-popoup .item-background {
    background: #fff;
    width: 500px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex {
    display: flex;
    border: thin solid rgb(229, 231, 235);
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 8px;
    gap: 4px;
}

.modal-img {
    width: 150px !important;
    aspect-ratio: .8;
    border: thin solid rgb(229, 231, 235);
    border-radius: 8px;
}

.modal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-item-info {
    border: thin solid rgb(229, 231, 235);
    width: calc(100% - 150px);
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
}

.modal-item-info h1 {
    font-size: larger;
    width: 100%;
    display: inline;
    text-wrap: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgb(65, 65, 65);
}

.modal-item-info .price {
    font-family: sans-serif;
    border: thin solid rgb(229, 231, 235);
    height: 100%;
    border-radius: 8px;
    padding: 8px;
}

.flex-group {
    display: flex;
}

.flex-group.col {
    flex-direction: column;
    gap: 4px;
}

.flex-group.col input {
    padding: 8px;
    border-radius: 4px;
    border: thin solid rgb(25, 117, 210);
    outline: none;
}

.flex-group.col input::-webkit-inner-spin-button,
.flex-group.col input::-webkit-outer-spin-button {
    appearance: none;
    display: none;
}

.item-background button {
    padding: 11.20px 28px;
    border: 2px solid rgb(8, 176, 89);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    height: 52px;
    width: 100%;
    background: rgb(8, 176, 89);
    border-radius: 8px;
    color: #fff;
    transition: .2s;
}

.item-background button:hover {
    background: #098a54;
    border-color: #098a54;
}

.item-background button:disabled {
    opacity: .5;
}

.item-background button:disabled:hover {
    background: rgb(8, 176, 89);
}

.hero-page.hero-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding: 20px;
}

.hero-page.hero-grid .grid-item {
    border-radius: 8px;
    overflow: hidden;
}

/* GRID ITEM -1 */
.hero-page.hero-grid .grid-item:nth-child(1) {
    height: 400px;
    background: #fff;
    padding: 20px 0 20px 32px;
}

.hero-page.hero-grid .grid-item:nth-child(2) {
    grid-column: 2 / 5;
    height: 400px;
}

.hero-page.hero-grid .grid-item:nth-child(5) {
    grid-column: 2 / 4;
}

.hero-page.hero-grid .grid-item:nth-child(6) {
    grid-column: 4 / 6;
}

.category .grid-item-heading {
    font-size: 12.8px;
    color: rgb(65, 65, 65);
}

.category-items-space {
    margin-top: 16px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.category-items-space div {
    font-size: 12.8px;
    tab-size: 4;
}

.category-items-space div a {
    /* display: flex; */
    align-items: flex-end;
    text-align: center;
}

.category-items-space div svg {
    width: 16px;
    margin-right: 3px;
    transform: translateY(3px);
}

.main-banner div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sell-on-kusnap-banner img {
    height: 100%;
    object-fit: cover;
    object-position: -50px;
}

.__under-banner {
    object-fit: cover;
}

.__under-banner img {
    height: 100%;
    width: 100%;
}

section.section {
    border-top: thin solid rgb(229, 231, 235);
    margin-top: 20px;
    padding: 10px;
}

.section-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.section-description h1 {
    color: rgb(65, 65, 65);
    font-size: 1.8em;
}

.section-description button {
    color: rgb(25, 117, 210);
    padding: 8px 16px;
    font-size: 14px;
    border: thin solid rgb(25, 117, 210);
    border-radius: 9999px;
    cursor: pointer;
}

.section-description button:hover {
    background: rgba(25, 118, 210, 0.3);
}

.section-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px 16px;
}

.section-content .section-item {
    cursor: pointer;
    transition: .2s;
    border-radius: 8px;
}

.section-content .section-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
    transform: scale(1.1);
}

/* .section-content .section-item:hover  */

.section-content .section-item .item-img {
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 1;
}

.section-content .section-item .item-img img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.section-content .section-item .item-name {
    font-weight: 500;
    color: rgb(43, 43, 43);
    overflow: hidden;
}

.section-content .section-item .item-price {
    font-weight: 700;
}

.section-content .section-item strike {
    color: rgba(0, 0, 0, 0.464);
    text-decoration: line-through;
    font-size: .8em;
    text-decoration-color: red;
}

.section-content .section-item .is-item-negotiable {
    color: #49C183;
    font-weight: 600;
}

.section-content .section-item .item-stat {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.494);
    font-size: .9em;
}

.section-content .section-item .item-stat .views {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-content .section-item .item-stat .views svg {
    height: 20px;
}

.ads {
    margin: auto;
    width: 80rem;
    margin-top: 50px;
}

footer {
    margin-top: 50px;
}









@media (max-width: 1300px) {
    main {
        width: 100%;
    }

    .ads {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    .category {
        display: none;
    }

    .hero-page.hero-grid {
        gap: 10px;
        row-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: .8fr .5fr .5fr .4fr;
    }

    .hero-page.hero-grid .grid-item:nth-child(2) {
        grid-column: 1 / 5;
        height: 100%;
    }

    .hero-page.hero-grid .grid-item:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
        height: 100%;
        border-radius: 5px;
    }

    .sell-on-kusnap-banner img {
        object-fit: cover !important;
        object-position: initial !important;
        width: 100%;
    }

    .hero-page.hero-grid .grid-item:nth-child(4) {
        grid-column: 3 / 5;
        border-radius: 5px;
        height: 100%;
    }

    .hero-page.hero-grid .grid-item:nth-child(5) {
        grid-column: 3 / 5;
        border-radius: 5px;
    }

    .hero-page.hero-grid .grid-item:nth-child(6) {
        grid-column: 1 / 5;
        border-radius: 5px;
    }

    .section-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-content .section-item {
        font-size: small;
    }
}


@media (max-width: 768px) {
    .section-description button {
        display: none;
    }

    .section-description h1 {
        font-size: 1.4em;
    }

    .section-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-content .section-item {
        font-size: x-small;
    }

    .item-modal-popoup {
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .item-modal-popoup * {
        font-size: small;
    }

    .item-modal-popoup .item-background {
        width: 100%;
    }

    .modal-img {
        width: 100px !important;
    }

    .modal-item-info {
        width: calc(100% - 100px) !important;
    }

    .item-background button {
        padding: 8px 28px;
        width: 100%;
        height: initial !important;
    }
}